*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.container{
    text-align: center;
}
#logo{
    max-width: 300px;
}
.row-12 > button{
    font-size: 15px;
    border: 2px solid #804000;
    background-color: #deae7e;
    border-radius: 15px;
    color: #804000;
    padding: 10px;
    margin-bottom: 10px;
}
h3{
    text-align: center;
    color: black;
}
.instructions{
    text-align: justify;
    font-size: 18px;
}
.colonne-1{
    display: flex;
    justify-content: center;
}
.instrbox{
    border: 2px solid #804000;
    border-radius: 15px;
    max-width:  600px;
    padding-left: 10px;
    padding-right: 10px;
    
}
b{
    color: #804000;  
}
img{
    width: auto;
    max-height: 200px;
}
.centerimage{
    text-align: center;
}
#imagebtn{
    border: none;
    background-color: transparent;
}
#counter{
    border: 2px solid #804000; 
}
[class*="row-"]{
    margin-top: 5px;
    padding-top: 5px;
    text-align: center;
}
[class*="col-"]{
    text-align: center;
    margin-top: 20px;
}
input{
    text-align: center;
}
[id*="btn-"]{
    height: auto;
    width:200px;
    font-size: 15px;
    border: 2px solid black;
    box-shadow: 2px 2px rgb(180, 175, 175);
    background-color: #804000;
    border-radius: 15px;
    color: white;
    text-shadow: 1px 1px black;
    padding-top: 5px;
    position: relative;
}
[id*="btn-"] #costautoclick, [id*="btn-"] #bonuscost , [id*="btn-"] #costmultiplier { 
    position: absolute;
    top: -10px;
    right: -30px;
    padding: 5px 10px;
    border-radius: 50px;
    background: #deae7e;
    border: 2px solid #804000;
    color: #804000;
}
/*[id*="btn-"]:hover{
    border: 2px solid #ffcc00;
    background-color: #ffcc00;
    color: black;
}*/
[id*="btn-"] >p, [id*="btn-"] > span{
    font-size: 15px;
}


/*Responsive:*/
@media only screen and (min-width: 800px) {
    
    .container{
        display: grid;
        justify-content: center;
        grid-template-areas: 
        "row1 row1 row1"
        "colonne1 colonne2 colonne3"
        "colonne1 colonne2 colonne3"
        "colonne1 colonne2 colonne3";
        column-gap: 15px;
        justify-content: space-around;
        margin-top: 20px;
    }
    .row-1{grid-area: row1;}
    .colonne-1{grid-area: colonne1;}
    .colonne-2{
        grid-area: colonne2;
        border: 2px solid #804000;
        border-radius: 15px;
        padding-left: 10px;
        padding-right: 10px ;
    }
    .colonne-3{
        grid-area: colonne3;
        border: 2px solid #804000;
        border-radius: 15px;
        padding-left: 20px;
        padding-right: 15px ;
    }
    .row-1{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    [class*="col-3"]{
        padding-right: 20px;
    }
    [class*="row-"]{
        margin-top: 0px;
        padding-top: 0px;
    }
    .instrbox{
        max-width: 300px;
        height: 600px;
    }
    .colonne-2 > div{
        margin-bottom: 50px;
    }
    [id*="btn-"]{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
/*MODAL*/           
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(238, 15, 15, 0.324); /* Fallback color */
    background-color: rgba(83, 6, 6, 0.4); /* Black w/ opacity */
    text-align: center;
    border-radius: 5px;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #804000;
    color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid white;
    border-radius: 20px;
    width: 80%;
    font-size: 2em;
  }

  /* The Instruction Button */
  .instructionz {
    color: white;
    background: #d6893f;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
  }
  
  .instructionz:hover, .instructionz:focus {
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
  }

  
  /* The Play Button */
  .play {
    color: white;
    background: #d6893f;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
  }
  
  .play:hover, .play:focus {
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
  }