*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
body{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(248,253,10,0.33967090254070376) 35%, rgba(255,201,4,0.5497549361541492) 100%);
}
.container{
    display: grid;
    justify-content: center;
}
h3, .instructions{
    text-align: center;
}
.instrbox{
    border: 2px solid brown;
    border-radius: 15px;
    width: 600px;
    padding-left: 10px;
    padding-right: 10px;
}

img{
    width: auto;
    max-height: 250px;
}
#imagebtn{
    border: none;
    background-color: transparent;
}

[class*="row-"]{
    margin-top: 5px;
    padding-top: 5px;
    justify-self: center;
}
[class*="col-"]{
    text-align: center;
    margin-top: 20px;
}
input{
    text-align: center;
}
[id*="btn-"]{
    height: auto;
    width:500px;
    border: 2px solid brown;
    background-color: brown;
    border-radius: 15px;
    color: white;
}
[id*="btn-"]:hover{
    border: 2px solid brown;
    background-color: white;
    color: brown;
}

@media only screen and (min-width: 600px) {
    .container{
        grid-template-areas: 
        "instructions instructions"
        "image buttons"
        "scorebox buttons";
    }
    .row-0{ grid-area: instructions;}
    .row-1{grid-area: image;}
    .row-2{
        grid-area: scorebox;
        display: flex;
        justify-content: center;
    }
    .row-3{
        grid-area: buttons;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    [class*="col-3"] {
        padding-right: 20px;
    }
    
}