* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 20px;
}

.container {
    text-align: center;
}

#logo {
    max-width: 300px;
}

.row-12>button {
    font-size: 15px;
    border: 2px solid #804000;
    background-color: #deae7e;
    border-radius: 15px;
    color: #804000;
    padding: 10px;
    margin-bottom: 10px;
}

h3 {
    text-align: center;
    color: black;
}

.instructions {
    text-align: justify;
    font-size: 18px;
}

.colonne-1 {
    display: flex;
    justify-content: center;
}

.instrbox {
    border: 2px solid #804000;
    border-radius: 15px;
    max-width: 600px;
    padding-left: 10px;
    padding-right: 10px;
}

b {
    color: #804000;
}

img {
    width: auto;
    max-height: 200px;
}

.centerimage {
    text-align: center;
}

#imagebtn {
    border: none;
    background-color: transparent;
}

#counter {
    border: 2px solid #804000;
}

[class*="row-"] {
    margin-top: 5px;
    padding-top: 5px;
    text-align: center;
}

[class*="col-"] {
    text-align: center;
    margin-top: 20px;
}

input {
    text-align: center;
}

[id*="btn-"] {
    height: auto;
    width: 200px;
    font-size: 15px;
    border: 2px solid black;
    box-shadow: 2px 2px rgb(180, 175, 175);
    background-color: #804000;
    border-radius: 15px;
    color: white;
    text-shadow: 1px 1px black;
    padding-top: 5px;
    position: relative;
}

[id*="btn-"] #costautoclick,
[id*="btn-"] #bonuscost,
[id*="btn-"] #costmultiplier {
    position: absolute;
    top: -10px;
    right: -30px;
    padding: 5px 10px;
    border-radius: 50px;
    background: #deae7e;
    border: 2px solid #804000;
    color: #804000;
}


/*[id*="btn-"]:hover{
    border: 2px solid #ffcc00;
    background-color: #ffcc00;
    color: black;
}*/

[id*="btn-"]>p,
[id*="btn-"]>span {
    font-size: 15px;
}


/*Responsive:*/

@media only screen and (min-width: 800px) {
    .container {
        display: grid;
        justify-content: center;
        grid-template-areas: "row1 row1 row1" "colonne1 colonne2 colonne3" "colonne1 colonne2 colonne3" "colonne1 colonne2 colonne3";
        column-gap: 15px;
        justify-content: space-around;
        margin-top: 20px;
    }
    .row-1 {
        grid-area: row1;
    }
    .colonne-1 {
        grid-area: colonne1;
    }
    .colonne-2 {
        grid-area: colonne2;
        border: 2px solid #804000;
        border-radius: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .colonne-3 {
        grid-area: colonne3;
        border: 2px solid #804000;
        border-radius: 15px;
        padding-left: 20px;
        padding-right: 15px;
    }
    .row-1 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    [class*="col-3"] {
        padding-right: 20px;
    }
    [class*="row-"] {
        margin-top: 0px;
        padding-top: 0px;
    }
    .instrbox {
        max-width: 300px;
        height: 600px;
    }
    .colonne-2>div {
        margin-bottom: 50px;
    }
    [id*="btn-"] {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


/*MODAL*/

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 30vh;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(243, 237, 237, 0.324);
    /* Fallback color */
    background-color: rgba(32, 30, 30, 0.4);
    /* Black w/ opacity */
    text-align: center;
    border-radius: 5px;
}


/* Modal Content */

.modal-content {
    /* background-color: #deae7e ; */
    color: black;
    top: 0;
    margin: 20%;
    margin-top: 2%;
    margin-bottom: 20px;
    padding: 20px;
    border: 3px solid #804000;
    border-radius: 50px;
    width: 52%;
    height: 60%;
    font-size: 30px;
    position: absolute;
    z-index: -2;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    /*background-image: url(https://i.gifer.com/9E93.gif);*/
}


/* The Instruction Button */

.instructionz {
    color: white;
    background: #d6893f;
    font-size: 40px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}

.instructionz:hover,
.instructionz:focus {
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 30px;
}


/* The Play Button */

.play {
    color: white;
    background: #804000;
    font-size: 20px;
    border: 2px solid #804000;
    border-radius: 30px;
    padding: 15px 40px;
    margin-top: 10px;
    align-self: center;
}

.play:hover,
.play:focus {
    padding: 15px 45px;
    text-decoration: none;
    cursor: pointer;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* The actual popup */

.popup .popuptext {
    visibility: hidden;
    width: 300px;
    height: 100px;
    background-color: #d6893f;
    border: solid 2px black;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    padding: 8px;
    z-index: 1;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}


/* Popup arrow */

.popup .popuptext::after {
    content: "";
    position: absolute;
}


/* Toggle this class - hide and show the popup */

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    .popup,
    .popuptext {
        margin: auto;
        display: flex;
        flex-direction: column;
    }
}


/* @media only screen and (min-width: 900) {
    /* For mobile phones: */


/* .popup,
    .popuptext {
        margin-left: 10px;
        margin: auto;
        display: flex;
        flex-direction: column;
    } */


/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}