*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
.container{
    display: grid;
    justify-content: center;
}
h3{
    text-align: center;
    color: black;
}
.instructions{
    text-align: justify;
    font-size: 18px;
}
.instrbox{
    border: 2px solid #804000;
    border-radius: 15px;
    max-width:  600px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(248,253,10,0.33967090254070376) 35%, rgba(255,201,4,0.5497549361541492) 100%);
}
b{
    color: #804000;  
}
img{
    width: auto;
    max-height: 200px;
}
#imagebtn{
    border: none;
    background-color: transparent;
}
#counter{
    border: 2px solid #804000; 
}
[class*="row-"]{
    margin-top: 5px;
    padding-top: 5px;
    justify-self: center;
}
[class*="col-"]{
    text-align: center;
    margin-top: 20px;
}
input{
    text-align: center;
}
[id*="btn-"]{
    height: auto;
    width:200px;
    font-size: 15px;
    border: none;
    background-color: #804000;
    border-radius: 15px;
    color: white;
    text-shadow: 1px 1px black;
    padding-top: 5px;
    position: relative;
}
[id*="btn-"] .badge { /*https://www.w3schools.com/howto/howto_css_notification_button.asp*/
    position: absolute;
    top: -10px;
    right: -30px;
    padding: 5px 10px;
    border-radius: 50px;
    background: blue;
    color: white;
}
/*[id*="btn-"]:hover{
    border: 2px solid #ffcc00;
    background-color: #ffcc00;
    color: black;
}*/
[id*="btn-"] >p, [id*="btn-"] > span{
    font-size: 15px;
}


/*Responsive:*/
@media only screen and (min-width: 800px) {
    body{
        /*background: rgb(238,174,202);
        background: radial-gradient(circle, rgba(238,174,202,0.7318277652858018) 0%, rgba(148,187,233,0.4853291658460259) 100%);*/
        background-image: url(dd.png);
        background-size:auto;
        background-repeat: repeat-y;
        background-position: left;
        
    }
    .container{
        grid-template-areas: 
        "instructions instructions update buttons"
        "instructions instructions image buttons"
        "instructions instructions scorebox buttons";
        column-gap: 15px;
        justify-content: space-around;
        margin-top: 20px;
    }
    .row-0{ grid-area: instructions;}
    .row-1{grid-area: image;}
    .row-11{grid-area: update;}
    .row-2{
        grid-area: scorebox;
        display: flex;
        justify-content: center;
    }
    .row-3{
        grid-area: buttons;
        display: flex;
        flex-direction: column;
    }
    [class*="col-3"]{
        padding-right: 20px;
    }
    [class*="row-"]{
        margin-top: 0px;
        padding-top: 0px;
    }
    .instrbox{
        max-width: 300px;
        height: 600px;
    }
}